<mat-card>
    <mat-card-title>Создать</mat-card-title>
    <form [formGroup]="form">
        <mat-card-content>

            <p>
                <mat-form-field>
                    <mat-label>Домен</mat-label>
                    <input matInput placeholder="Домен" formControlName="domain">
                </mat-form-field>
            </p>

        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary" (click)="onCreate()" mat-button>Создать</button>
            <button mat-raised-button color="primary" (click)="onCancel()" mat-button>Отмена</button>
        </mat-card-footer>>
    </form>
</mat-card>