<mat-card>
    <mat-card-title>{{ isEdit ? "Изменить" : "Создать" }}</mat-card-title>
    <form [formGroup]="form">
        <mat-card-content>

            <p>
                <mat-form-field>
                    <mat-label>Домен</mat-label>
                    <input matInput placeholder="Домен" formControlName="domain">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Тип записи</mat-label>
                    <mat-select formControlName="type" [disabled]="isEdit">
                        <mat-option value="1">A</mat-option>
                        <mat-option value="28">AAAA</mat-option>
                        <mat-option value="15">MX</mat-option>
                        <mat-option value="5">CNAME</mat-option>
                        <mat-option value="39">DNAME</mat-option>
                        <mat-option value="12">PTR</mat-option>
                        <!--<mat-option value="16">TXT</mat-option>-->
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Приоритет</mat-label>
                    <input type="number" matInput placeholder="Приоритет" formControlName="priority">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Вес</mat-label>
                    <input type="number" matInput placeholder="Вес" formControlName="weight">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Порт</mat-label>
                    <input type="number" matInput placeholder="Порт" formControlName="port">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Адрес</mat-label>
                    <input matInput placeholder="Адрес" formControlName="address">
                </mat-form-field>
            </p>

        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary" (click)="onCreate()" mat-button>{{ isEdit ? "Изменить" : "Создать"
                }}</button>
            <button mat-raised-button color="primary" (click)="onCancel()" mat-button>Отмена</button>
        </mat-card-footer>>
    </form>
</mat-card>