<mat-card>
    <mat-card-title>Вход</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <mat-label>Пароль</mat-label>
                    <input type="password" matInput placeholder="Пароль" formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button">
                <button mat-raised-button color="primary" type="submit" mat-button>Вход</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>