<mat-sidenav-container class="container">
    <mat-sidenav color="primary" mode="side" opened>
        <mat-list>
            <ng-container *ngIf="authService.authorized">
                <mat-list-item><a mat-button routerLink="/blacklist">Черный список</a></mat-list-item>
                <mat-list-item><a mat-button routerLink="/whitelist">Белый список</a></mat-list-item>
            </ng-container>
            <mat-list-item *ngIf="!authService.authorized"><a mat-button routerLink="/login">Вход</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>