<button mat-raised-button color="primary" (click)="add()">Добавить</button>
<br />
<mat-form-field appearance="standard">
    <mat-label>Фильтр</mat-label>
    <input matInput [formControl]="filterControl" placeholder="Домен" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="domain">
        <th mat-header-cell *matHeaderCellDef>Домен</th>
        <td mat-cell *matCellDef="let element"> {{element.domain}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Тип</th>
        <td mat-cell *matCellDef="let element"> {{ whitelistService.numTypeToString(element.type)}} </td>
    </ng-container>

    <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef>Приоритет</th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Вес</th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="port">
        <th mat-header-cell *matHeaderCellDef>Порт</th>
        <td mat-cell *matCellDef="let element"> {{element.port}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Адрес</th>
        <td mat-cell *matCellDef="let element"> {{element.addr}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Действие</th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="edit(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="delete(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 50, 100]" aria-label="Выбранные записи на странице"></mat-paginator>